<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"> 
    <script src="https://kit.fontawesome.com/faef7e2fff.js"></script>
    <link rel="stylesheet" href="/css/index.css">
    
</head>
<body>
    <header class="header">
        <div class="navbar">
            <a href="/" class="logoPlace" id="logoPlace"><img src="/img/airbnb.png" class="logo" alt="Airbnb Logo"></a>
            <div class="drop-menu">
                <button type="button">
                    <span class="material-icons" id="menu">menu</span>
                </button>
            </div>
            <form class="searchbar" id="search"> 
                <label class="notVisible">Search</label>
                <input type="search" name="find" id="find" class="search notVisible">
                <button type="button"><span class="material-icons srchicon" id="srchicon">search</span></button>
            </form>  
            <nav class="mainmenu" id="mainmenu" aria-label="Primary">
                <ul>
                    <li class="dropdown"><a href="#">Host</a>
                        <ul class="submenu">
                        <li><a href="#">Host a Home</a></li>
                        <li><a href="#">Host an Experience </a></li>
                        </ul>
                    </li>
                    <li><a href="/rooms">Be a Guest</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Contact and FAQ'S</a></li>
                </ul>
            </nav>
            <ul class="account" id="account">
                <li><a href="/signup-or-login"><button><span class="material-icons">account_box</span></button></a></li>
                <li><button><span class="material-icons">language</span></button></li>
            </ul>
        </div> 
    </header>
    <main>
            {{{body}}}
    </main>
    <footer class="footer">
        <div class="foot-align">
            <div>
              <h4>AIR BnB</h4>
              <a href="#">News</a>
              <a href="#">Careers</a>
              <a href="#">Policies</a>
              <a href="#">Accessibility</a>
            </div>
            <div>
              <h4>DISCOVER</h4>
              <a href="#">Trust &#38; safety</a>
              <a href="#">Travel Credit</a>
              <a href="#">Business Travel</a>
              <a href="#">Airbnbmag</a>
            </div>
            <div>
                <h4>HOSTING</h4>
                <a href="#">Why Host</a>
                <a href="#">Hospitality</a>
                <a href="#">Responsible Hosting</a>
                <a href="#">Community Centre
                    <i class="material-icons small">
                    info
                    </i>
                </a>
            </div>
            <div>
                <h4>SUPPORT</h4>
                <a href="#">Help desk 
                    <i class="material-icons small">
                    contact_support call
                    </i>
                </a>
                <a href="#">Airbnb en français</a>
            </div>
        </div>
        <div class="responsive-icon">
            <div class="apple-google">
            <div></div>
            <div class="apple">
                <a href="#" class="social-dis"><i class="fab fa-apple appleicon"></i>
                <div><h6>Download on the </h6> <h3>App Store</h3>
                </div>
                </a>
            </div>
            <div class="google">
                <a href="#" class="social-dis">
                <div>
                    <img class="google-play" src="img/google-play.png" alt="google">
                    <i class="fab fa-google-play googleIcon"></i>
                </div>
                <div>
                    <h6>GET IT ON</h6> 
                    <h3>Google Play</h3>
                </div>
                </a>
            </div>
            <div></div>
            </div>  
            <div class="icon">
            <a href="#"><i class="fab fa-facebook-square f"></i></a>
            <a href="#"><i class="fab fa-instagram i"></i></a>
            <a href="#"><i class="fab fa-twitter t"></i></a>
            <a href="#"><i class="fab fa-linkedin-in in"></i></a>
            <a href="#"><i class="fab fa-youtube y"></i></a>
            </div>
        </div>
        <p class="copyright">&copy;2010-2019 Developed by Jhupro</p>
        <p>All rights reserved. <br> Google, Google Play, YouTube and other marks are trademarks of Google Inc.</p>
    </footer>
    <script src="js/main.js"></script>
</body>
</html>