<div class="add-room" >     
    <h2>Add Room</h2>
    
    <form method="POST" action="/admin/room/addroom" enctype="multipart/form-data">
        <div class="edit-form">
        <label>Name</label>
        <input type="text" name="name" id="name"> 
        </div>

        <div class="edit-form">
        <label>Description</label>
        <textarea id="description" name="description"></textarea>
        </div>

        <div class="edit-form">
        <label>Extra</label>
        <textarea id="extra" name="extra"></textarea>
        </div>

        <div class="edit-form">
        <label>Price</label>
        <input class="price-rating" type="number" name="price" id="price" step="any"> 
        </div>

        <div class="edit-form">
        <label>Image</label>
        <input type="file" name="roomImg" id="roomImg"> 
        </div>

        <div class="edit-form">
        <label>Rating</label>
        <input class="price-rating" type="number" min=1 step="any" name="rating" id="price"> 
        </div>

        <div class="edit-form">
        <label>Location</label>
        <input class="price-rating" type="text" name="location" id="location"> 
        </div>

        <div class="edit-form">
        <label>Featured</label>
        <div>
            <input type="radio" id="yes" name="feature" value="yes">
            <label for="yes">Yes</label>
            <input type="radio" id="no" name="feature" value="no">
            <label for="no">No</label>
        </div>
        </div>

        <input type="submit" class="linkAsButton" value="Add Room">

    </form>
</div>
