<div>
    <h1>Welcome to admin page</h1>
    <h3 class="admin-work">what do you want to Work on today..?</h3>
    <div class="admin-options">
    <a href="/admin/room" class="linkAsButton">  Room </a>
    <a href="/admin/Adventuresroom" class="linkAsButton"> Adventures Room </a>  
    </div>  
    
</div>