<div class="center">
    <div class="signupBy">
        <p class="acnt-login">Sign up with  <a href="#"><span class="fbcolor"> Facebook </span></a> 
          or  <a href="#" class="char-space">
              <span class="gogBlue">G</span class="gogRed">
              <span class="gogRed">o</span>
              <span class="gogYellow">o</span>
              <span class="gogBlue">g</span>
              <span class="gogGreen">l</span>
              <span class="gogRed">e</span></a></p>
        <p class="orBetween"><span>or</span></p>
        <form class="input-form">
            <div class="input-icons">  
                <i class="fa fa-envelope icon-signup"> </i> 
                <input class="input-field" type="email" placeholder="Email address">
                <i class="far fa-user icon-signup"> </i> 
                <input class="input-field" type="text" placeholder="First Name">
                <i class="far fa-user icon-signup"> </i> 
                <input class="input-field" type="text" placeholder="Last Name">
                <i class="fas fa-unlock-alt icon-signup"></i>
                <input class="input-field" type="password" placeholder="password">
                <i class="fas fa-unlock-alt icon-signup"></i>
                <input class="input-field" type="password" placeholder="Confirm password">
            </div> 
            <label class="birthday">Birthday</label>
            <p class="info">To sign up, you need to be at least 18. Other people won’t see your birthday.</p>
            <div class="date">
                <fieldset class="month">
                    <select name="Month" id="month">
                        <option value="none" disabled selected>- Month -</option>
                    </select>
                </fieldset>
                <fieldset class="day">
                    <select name="day" id="day"> 
                        <option value="none" disabled selected>- Day -</option>   
                    </select>
                </fieldset>
                <fieldset class="year">
                    <select name="year" id="year">
                        <option value="none" disabled selected>- Year -</option>
                    </select>
                </fieldset>
            </div>
            <p class="marketing">Would you like to recieve members-only deals, inspiration, promotions and policy updates via email. You can opt out of receiving these at any time in your account settings or directly from the marketing notification.</p>
            <div class="checkbox">
                <input type="checkbox"><p class="marketing">I don’t want to receive marketing messages</p>
            </div>
            <button type="button" class="button signup-btn"> Sign up</button>
        </form>
        <div class="orBetween"></div>
        <p class="acnt-login">Already have an acoount <a href="#">Login</a></p>
    </div>
</div>