<h1 >{{data.fname}} {{data.lname}}Ram Karki, Welcome to Airbnb</h1>
<p class="heading">You have been added to our mailing list and will now be among the first to hear about new arrivals, big events and special offers. <br> <br> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos delectus iure vero doloribus, eveniet, amet nesciunt eos non hic similique maxime dolore minima. Nihil debitis veniam alias fuga? Dicta, tempora.</p>

<div class="slt-border">
<p>As a special treat, <br> Enjoy 15% off, on your next booking checkout with code <br><br> <span class="code">W15-GKBF-SPQG-RHZL-7CAN</span> </p>
</div>
<p class="extra">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam quis vel, iure quod assumenda nobis nam voluptatum veniam dolore alias libero et, architecto blanditiis doloremque consectetur praesentium quaerat sequi. Tenetur!</p>
<a href="/login" class="gotoLogin"><button> Click to Login</button></a>